@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('./util.css');
@import url('./animation.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-regular);
}

body {
  background-color: #fdfdfd;
  text-align: center;
  background-image: url('../assets/img/full-bloom.png');
  background-repeat: repeat;
}

section {
  min-height: 100vh;
}

.main-container {
  flex: 1;
  justify-content: flex-start;
  padding-block: 0.5rem;
}

/* ================================  */
/* levels buttons */
.btn-group {
  padding-block: 0.2rem;
}

.btn-group .btn-level {
  font-size: 1rem;
  padding: 0.5rem 2rem;

  font-weight: 400;
  border: 1px solid var(--secondary);
  border-radius: 0.4em;
  background-color: var(--white-50);
  cursor: pointer;
  transition: var(--transition-time);
}

.btn-group .btn-level:hover {
  color: var(--white-50);
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.btn-level.btn-easy:hover {
  background-color: var(--easy);
  border-color: var(--easy);
}
.btn-level.btn-medium:hover {
  background-color: var(--medium);
  border-color: var(--medium);
}
.btn-level.btn-hard:hover {
  background-color: var(--hard);
  border-color: var(--hard);
}

.btn-manual:hover {
  background-color: var(--slate-400);
  border-color: var(--slate-400);
}

.btn-boom:hover {
  background-color: var(--slate-400);
  border-color: var(--slate-400);
}
/* ================================  */

/* ================================  */
/* control panel */
.control-panel {
  background-color: var(--white-50);
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid var(--gray-400);
}

.timer {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--font-number);
}

.smiley {
  font-size: 2rem;
  cursor: pointer;
  transition: var(--transition-time);
}

.smiley:hover {
  transform: scale(120%);
}

.safe-active {
  background-color: var(--medium);
}

.heart {
  color: var(--hard);
  font-size: 1.5rem;
}

.active-hint {
  background-color: var(--gray-100);
}
/* ================================  */

/* ================================  */
/* board game */
table {
  border-collapse: collapse;
}

td {
  border: 1px solid var(--secondary);
  background-color: var(--gray-400);
  width: 40px;
  height: 40px;
  font-family: var(--font-number);
  cursor: pointer;
  transition: var(--transition-time);
}

td.success {
  background: var(--success);
}

td.danger {
  background-color: var(--danger);
}

td:hover {
  background-color: var(--cyan-50);
}
/* ================================  */
/* ================================  */
/* alert msg */
.alert {
  position: absolute;
  bottom: 20px;
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 400px;
  padding: 0.5rem 1rem;
  border-top: 2px solid var(--gray-400);
  border-right: 2px solid var(--gray-400);
  border-bottom: 2px solid var(--gray-400);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--medium);
}

.alert.active {
  display: flex;
  animation: openAlert var(--transition-time);
}

.btn-alert {
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary);
  cursor: pointer;
  transition: var(--transition-time);
}

.icon-close {
  border-radius: 50%;
  padding: 0.4rem 0.5rem;
  transition: var(--transition-time);
}

.icon-close:hover {
  background-color: var(--circle-bg);
}
/* ================================  */

/* ================================  */
/* footer */
.main-footer {
  padding-block: 0.5rem;
  justify-self: flex-end;
  font-weight: 100;
  font-size: 1rem;
  color: var(--gray-400);
}
/* ================================  */

.btn.active {
  background-color: var(--active);
  color: var(--white-50);
  border-color: var(--active);
}
